<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('header'); -%>
<!-- /head -->

<body>

    <!-- Main navbar -->
    <%- include('main_navbar'); -%>
    <!-- /main navbar -->

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <%- include('sidebar_menu'); -%>
        <!-- /main sidebar -->

        <!-- Main content -->
        <div class="content-wrapper">

            <%- body %>

            <!-- Footer -->
            <%- include('footer'); -%>
            <!-- /footer -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</body>

</html>
